/* --- MEDIA QUERIES FOR DESKTOP --- */
@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        padding: 1rem 2rem;
    }

    .content-grid {
        grid-template-columns: 2fr 1fr;
    }

    .course-work {
        grid-column: 1 / span 2;
    }
}
